!.gitignore
Thumbs.db
*.db

.obsidian/workspace-mobile.json
.obsidian/workspace.json

.obsidian/plugins/notehelper/data.json
.obsidian/plugins/notehelper/url-local-map.json
.obsidian/plugins/notehelper/pending-localize-queue.json

未命名
未命名.base